# Secrets
.env
.env.*
!.env.example
.env.production.example

# Node
node_modules/
npm-debug.log*

# SQLite
*.sqlite
*.sqlite3
database.sqlite

# Flutter / Dart
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db